if nix flake --version &>/dev/null; then
  use flake
elif nix --version &>/dev/null; then
  use nix
fi

# Ref: https://github-wiki-see.page/m/direnv/direnv/wiki/Python
export VIRTUAL_ENV=".venv"
layout python3
dotenv .env.dev
