services:
  api:
    build: .
    depends_on:
      - db
      - jaeger
    environment:
      DB_HOST: db
      OTEL_EXPORTER_OTLP_ENDPOINT: http://jaeger:4318
    ports:
      - "8000:8000"
    networks:
      - backend
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8000/health"]
      interval: 30s
      timeout: 10s
      retries: 3
      start_period: 10s

  db:
    image: postgres:16-alpine
    volumes:
      - data:/var/lib/postgresql/data
    networks:
      backend:
        aliases:
          - db
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${POSTGRES_USER}"]
      interval: 5s
      timeout: 5s
      retries: 2

  jaeger:
    image: jaegertracing/jaeger
    networks:
      backend:
        aliases:
          - jaeger

volumes:
  data:

networks:
  backend:
    driver: bridge
